:root {
    --default-font: 'Poppins';
  }
  
  input,
  textarea {
    width: 100%;
    margin: 0.5rem 0;
  }
  #img1 {
    width: 100%;
    height: auto;
 }
  .grid-container {
    display: grid;
    background-color: rgb(255, 255, 255);
    grid-template-columns: 400px 400px;
    width: 885;
    height: 496;
    grid-template-rows: auto auto;
    justify-content: center;

    }

 
  
  .grid-item {
    padding: 10px;
    justify-content: center;
    border: 1px solid black;
  }
  
  .flex-container {
    display: flex;
    flex-direction: column;
  }
  
  .habilities {
    font-family: var(--default-font);
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    color: #172b4d;
  }
  
  .conopy {
    font-family: var(--default-font);
    font-style: normal;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    color: #344563;
  }
  
  .line_content_desc {
    font-family: var(--default-font);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
  }
  
  .languages {
    padding: 4px 12px;
    border-radius: 8px;
    font-family: var(--default-font);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 50px;
    letter-spacing: 0.03em;
    color: #6070ff;
    background-color: #ebebff;
    margin-right: 8px;
  }

  
  
  a {
    text-decoration: none;
  }
  
  .big_circle li span a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
  
    /* Neutrals/N700 */
  
    color: #253858;
  }
  
  ul.small_text li {
    display: inline;
    padding-right: 8px;
  }
  
  ul.small_text {
    padding: 15px 0;
  }
  
  ul.line_content li::before {
    content: "\2022";
    color: #c1c7d0;
    font-weight: bold;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: -1em;
  }
  
  ul.line_content li {
    display: inline;
    list-style-type: circle;
    padding-left: 32px;
  }
  
  ul.line_content {
    list-style-type: circle;
    display: inline;
  }
  
  .see_projects {
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    font-family: var(--default-font);
    font-size: 17px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 5px;
    padding: 10px;
  }
  
    a.see_projects {
        margin: 0 0;
        color: blue;
    }
    
