* {
  font-family: poppins, sans-serif;
  margin: 0;
  padding: 0;
}
#nav-bar {
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 36px;
  box-shadow: 0 1px 8px #ddd;
}

header li {
list-style: none;
display: inline-block;
padding: 0 20px;
}
#mylogo {
display: flex; 
  height: 100px;
  width: 100px;
  padding-right: 954px;
}

#top-name {
  font-family: Poppins, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: #091e42;
}

#content {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: #344563;
  text-align: justify;
}

#connect {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  color: #7f8cff;
  padding-top: 1px;
  display: flex;
  padding-top: 7px;
}

#connect:hover {
  background-color: #091e42;
}

.icons {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.icons li {
  padding-left: 1px;
  margin: 10px 1px;
  list-style: none;
  list-style-type: none;
  align-items: flex-start;
}

.icons ul {
  padding: -1px;
}

#vector {
  width: 18px;
  height: 18px;
}

#background {
  flex-direction: column;
  justify-content: center;
  padding: 250px 299px 252px;
  background-color: #ffffff;
  border-radius: 0px 0px 0px 200px;
  background-image: url("./Image/background-1.svg");
  background-repeat: no-repeat;
  background-position: 0 -80px;
  background-size: 1440px  ;
}
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">