
:root {
  --default-font: 'Poppins';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' sans-serif;
}

img {
  width: 100%;
  height: auto;
}

input,
textarea {
  width: 100%;
  margin: 0.5rem 0;
}

.grid-container {
  display: grid;
  max-width: 375px;
  justify-content: center;
}

.grid-item {
  padding: 10px;
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.habilities {
  font-family: var(--default-font);
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: #172b4d;
}

.conopy {
  font-family: var(--default-font);
  font-style: normal;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: #344563;
}

.line_content_desc {
  font-family: var(--default-font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.languages {
  padding: 4px 12px;
  border-radius: 8px;
  font-family: var(--default-font);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 50px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background-color: #ebebff;
  margin-right: 8px;
}

.big_circle li {
  /* Neutrals/N10 */
  position: relative;
  background: #f7f7f9;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.big_circle li img {
  height: 48px;
  width: 48px;
  left: 12px;
  top: 9px;
}

.big_circle li span {
  position: absolute;
  height: 24px;
  left: 76px;
  right: 12px;
  top: calc(50% - 24px / 2 - 0.36px);

  /* Body / 3 - Bolder */
}

a {
  text-decoration: none;
}

.big_circle li span a {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;

  /* Neutrals/N700 */

  color: #253858;
}

ul.small_text li {
  display: inline;
  padding-right: 8px;
}

ul.small_text {
  padding: 15px 0;
}

ul.line_content li::before {
  content: "\2022";
  color: #c1c7d0;
  font-weight: bold;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: -1em;
}

ul.line_content li {
  display: inline;
  list-style-type: circle;
  padding-left: 32px;
}

ul.line_content {
  list-style-type: circle;
  display: inline;
}

.see_projects {
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  font-family: var(--default-font);
  font-size: 17px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 5px;
  padding: 10px;
}

a.see_projects {
  margin: 0 0;
  color: blue;
}

.size {
  width: 20px;
  height: 20px;
}

.height_inc {
  padding: 10px 0;
  color: blue;
}

.about_header {
  font-family: var(--default-font);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  color: #172b4d;
}

.self_desc {
  font-family: var(--default-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

ul.big_circle {
  list-style: none;
}

.header-3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

/* Categories */

.category-header {
  position: relative;
}

.arrow {
  position: absolute;
  right: 12%;
  top: 18.5%;
  cursor: pointer;
  width: 20px;
  height: 25px;
}

/* Utilities */
.p-1 {
  padding: 1rem 2rem;
}

.bt-1 {
  border-bottom: 2px solid #dfe1e6;
}

.contact {
  background: #6070ff url("/Image/contact-background.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 152px 30px;
  padding: 5rem 1.5rem;
  position: relative;
}

.contact_flex {
  flex-direction: column;
  align-items: center;
}

.contact_header {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.contact_paragraph {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.contact_form {
  margin: 2rem 1rem;
}

.contact_input {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 1rem 1rem 1rem 2rem;
  font-size: 17px;
  line-height: 20px;
  padding-left: 13px;
}

.contact_textarea {
  line-height: 24px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 0.5rem;
  font-size: 15px;
}

.contact_submit {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 26px;
  width: 140px;
  height: 48px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #4050e0;
  flex: none;
  order: 0;
  flex-grow: 0;
}

