 * {
margin: 0;
padding: 0;
box-sizing: border-box;
 }

 .grid-container {
    
     border: 1px solid green;
     justify-content: center;
    
 }
 .grid-token {
     padding: 10px;
     border: solid red;
     max-width: 250;
 }

 .flex-container {
     display: flex;
     flex-direction: column;
 }

 .flex-token {
     border: 1px solid blueviolet
 }
 